* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  color: rgb(84, 196, 248);
}

.container {
  width: 60%;
  margin: 10% auto;
}
